<?xml version="1.0" encoding="UTF-8"?>

<beans xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans.xsd" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://www.springframework.org/schema/beans">
	<!-- 생성자를 이용한 주입 -->
	<bean id="xml1" class="kr.co.softsoldesk.beans.TestBean1" lazy-init="true">
		<constructor-arg type="int" value="100"/>
		<constructor-arg type="java.lang.String" value="soldesk1"/>
		<constructor-arg ref="data_bean1"/>
	</bean>
	
	<bean id="data_bean1" class="kr.co.softsoldesk.beans.DataBean1"/>
	
	<bean id="xml2" class="kr.co.softsoldesk.beans.TestBean1" lazy-init="true">
		<property name="data1" value="200"/>
		<property name="data2" value="soldesk2"/>
		<property name="data3" ref="data_bean1"/>
	</bean>
	
	<!-- autowire="byName" 주입 방법 -->
	<bean id="xml3" class="kr.co.softsoldesk.beans.TestBean2" lazy-init="true" autowire="byName"/>
		
	<bean id="data1" class="kr.co.softsoldesk.beans.DataBean2"/>
	<bean id="data2" class="kr.co.softsoldesk.beans.DataBean2"/>
	
	<!-- autowire="byType" 주입 방법 -->
	<bean id="xml4" class="kr.co.softsoldesk.beans.TestBean3" lazy-init="true" autowire="byType"/>
	
	<bean class="kr.co.softsoldesk.beans.DataBean3"/>
</beans>